<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.korit.board.boardback.mapper.BoardMapper">

    <insert id="insertBoard" keyProperty="boardId" useGeneratedKeys="true">
        insert into board_tb
        values
            (default, #{boardCategoryId}, #{userId}, #{title}, #{content}, 0, now(), now())
    </insert>
    <select id="selectBoardListAllBySearchOption" resultType="com.korit.board.boardback.entity.BoardSearch">
        select
            bt.board_id as boardId,
            bt.title,
            bct.board_category_name as boardCategoryName,
            ut.profile_img as profileImg,
            ut.nickname,
            bt.view_count as viewCount,
            (select count(*) from board_like_tb where board_id = bt.board_id) as likeCount,
            bt.created_at as createdAt
        from
            board_tb bt
            inner join board_category_tb bct on(bct.board_category_id = bt.board_category_id)
            inner join user_tb ut on(ut.user_id = bt.user_id)
        <where>
            <if test="searchText != null and searchText !=''">
                title like concat("%", #{searchText}, "%")
            </if>
        </where>
        order by
            <choose>
                <when test="order == 'oldest'">
                    boardId asc,
                </when>
                <when test="order == 'viewsDesc'">
                    viewCount desc,
                </when>
                <when test="order == 'viewsAsc'">
                    viewCount asc,
                </when>
                <when test="order == 'likesDesc'">
                    likeCount desc,
                </when>
                <when test="order == 'likesAsc'">
                    likeCount asc,
                </when>
            </choose>
            boardId desc
        limit #{startIndex}, #{limitCount}
    </select>

    <select id="selectBoardCountAllBySearchText" resultType="java.lang.Integer">
        select
            count(*)
        from
            board_tb
        <where>
            <if test="searchText != null and searchText !=''">
                title like concat("%", #{searchText}, "%")
            </if>
        </where>
    </select>
</mapper>