<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.korit.board.boardback.mapper.UserMapper">

    <resultMap id="userResultMap" type="com.korit.board.boardback.entity.User">
        <id property="userId" column="user_id" />
        <result property="username" column="username" />
        <result property="password" column="password" />
        <result property="email" column="email" />
        <result property="nickname" column="nickname" />
        <result property="oAuth2Name" column="oauth2_name" />
        <result property="oAuth2Provider" column="oauth2_provider" />
        <result property="accountExpired" column="account_expired" />
        <result property="accountLocked" column="account_locked" />
        <result property="credentialsExpired" column="credentials_expired" />
        <result property="accountEnabled" column="account_enabled" />
        <result property="createdAt" column="created_at" />
    </resultMap>

    <select id="selectByUsername">
        select
            user_id,
            username,
            password,
            email,
            nickname,
            oauth2_name,
            oauth2_provider,
            account_expired,
            account_locked,
            credentials_expired,
            account_enabled,
            created_at
        from
            user_tb
        where
            username = #{username}
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="userId">
        insert into user_tb
        values (
            default,
            #{username},
            #{password},
            #{email},
            #{nickname},
            #{oAuth2Name},
            #{oAuth2Provider},
            #{accountExpired},
            #{accountLocked},
            #{credentialsExpired},
            #{accountEnabled},
            now()
        )
    </insert>
</mapper>